.aboutTile {
  background: white;
  padding: 16px 12px;
  padding-bottom: 24px;
  margin: 6px;
  color: var(--navy);
  text-shadow: none;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  justify-content: start;
  -webkit-text-stroke: 0px;
}

.aboutTitle svg {
  margin: 4px;
}

.aboutIconContainer {
  width: 48px;
  height: 48px;
}

.storyTile {
  padding: 24px 36px;
  text-align: justify;
}

.storyTile h1 {
  padding: 16px 0 30px 0;
}

.storyText {
  column-count: 2;
  column-gap: 24px;
  padding-bottom: 24px;
}

.storyText h3 {
  font-size: 1.4rem;
}