.servicesInfo {
  flex-wrap: wrap;
  justify-content: center;
}

.serviceTile {
  background: white;
  padding: 16px 12px;
  margin: 12px;
  color: var(--navy);
  border-radius: 12px;
  width: 360px;
  text-align: center;
  justify-content: start;
  text-shadow: none;
  -webkit-text-stroke: 0px;
}

.serviceTitle svg {
  margin: 4px;
}

.serviceIconContainer {
  width: 48px;
  height: 48px;
}

@media (max-width: 769px) {
  
}

.servicesInfo {
  width: 100%;
  gap: 12px;
}

.serviceTile {
  flex: 1 1 300px;
  margin: 0;
}

@media (max-width: 600px) {
  .serviceTile {
    flex-basis: 100%;
    width: 100%;
    padding: 24px 16px;
  }
}
